body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#header{
    display: flex;
    padding: 16px 155px 16px 155px;
    background-color: #FFF4ED;
}

.logo{
    width: 30%;
}

.logo a img{
    width: 96%;
    margin-top: 8px;
}

.menu{
    width: 70%;
}

.menu ul{
    text-align: right;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #575757;
    font-size: 18px;
    padding-left: 23px;
}

#banner{
    display: flex;
    padding: 16px 105px 16px 155px;
}

.banner-head{
    width: 50%;
}

.banner-head h1{
    font-size: 70px;
    font-weight: 700;
    color: #575757;
    padding-top: 130px;
    line-height: 93px;
}

.banner-head h1 span{
    color: #FB954B;
}

.banner-head p{
    font-size: 20px;
    font-weight: 500;
    color: #828282;
    line-height: 33px;
    padding-bottom: 35px;
}

.banner-head a {
    text-decoration: none;
    background: linear-gradient(80deg, rgba(251,153,76,1) 0%, rgba(254,72,46,1) 100%);
    color: #fff;
    padding: 21px 40px;
    border-radius: 27px;
    font-weight: 500;
    box-shadow: 3px 4px 25px -10px #000;
}

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 93%;
}

#about{
    display: flex;
    padding: 0 155px 0 155px;
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 43%;
    margin: 0 auto;
    display: block;
    padding-top: 70px;
}

.about-text{
    width: 50%;
}

.about-text h3{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
    padding-top: 40px;
}

.about-text p{
    color: #18191F;
    font-size: 18;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 35px;
    padding-right: 137px;
}

#recipies{
    padding: 0px 230px;
}

.recipies-text h3{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
    padding-top: 60px;
    text-align: center;
}

.recipies-text p{
    color: #18191F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 35px;
    text-align: center;
}

.recipies-title{
    display: flex;
    padding: 30px 0;
}

.recipies-title-left{
    width: 33.33%;
    box-shadow: 3px 4px 34px -20px #000;
    padding: 20px;
    border-radius: 20px;
}

.recipies-title-left img{
    width: 100%;
}

.recipies-title-left h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 800;
}

.recipies-title-left p{
    color: #18191F;
    font-size: 18px;
    line-height: 28px;
    padding-right: 30px;
}

.recipies-two{
    margin: 0 80px;
}

#count {
    display: flex;
    margin: 70px 230px 90px;
    box-shadow: 3px 4px 34px -20px #000;
    padding: 20px 0 48px;
    border-radius: 20px;
}

.count-left{
    width: 33.33%;
}

.count-left h3{
    color: #18191F;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -20px;
    text-align: center;
}

.count-left p{
    color: #18191F;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

#contact-part{
    display: flex;
    margin: 70px 230px 90px;
}

.contact-img{
    width: 50%;
}

.contact-img h2{
    font-size: 35px;
}

.contact-img p{
    font-size: 16px;
    line-height: 28px;
}

.contact-img h4{
    padding-top: 10px;
}

.contact-img h5{
    font-size: 22px;
    font-weight: 400;
    margin-top: -5px;
}

.contact-form{
    width: 50%;
    padding-top: 35px;
}

.contact-form form input {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #FC954B;
}

.contact-form form input::placeholder{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;

}

.contact-form form textarea{
    width: 70%;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #FC954B;
}

.contact-form form textarea::placeholder{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px; 
}

.contact-form form button{
    border: 0;
    background: linear-gradient(80deg, rgba(251,153,76,1) 0%, rgba(254,72,46,1) 100%);
    color: #fff;
    padding: 21px 40px;
    border-radius: 27px;
    font-weight: 500;
    box-shadow: 3px 4px 25px -10px #000;
    font-family: 'Montserrat', sans-serif;
}

#footer{
    background-color: #0B0D17;
    padding: 60px 0 140px;
}

.footer-inner h2{
    font-size: 30px;
    color: #5B5B5B;
    text-align: center;
}

.footer-inner h2 span{
    color: #FB994C;
}

.footer-inner p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}

